<!DOCTYPE html>
<html>
<head>
  <title><%= page_title yield :page_title %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="page">
  	<div id="header">
			<div class="logo">Flitter</div>
  		<% if current_user %>
  		  Yo, <%= current_user.name %>
  		  <%= image_tag current_user.picture_url %>
  		  <%= link_to "Sign Out", logout_path %>
  		<% else %>
  		  <%= link_to "Sign in with Twitter", auth_request_path(service: "twitter") %>
  		<% end %>
		</div>
  	
		<div id="main">
  		<%= yield %>
		</div>
	</div>  
</body>
</html>
